.work-section {
  img {
    width: 86px;
  }

  .company-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    column-gap: 8px;
    margin-bottom: 4px;

    .company-subtitle {
      display: flex;
      flex-direction: column;

      h1 {
        font-weight: 500;
        font-size: 11px;
      }

      a {
        font-weight: 800;
        font-style: italic;
        font-size: 10px;
        color: white;
        text-decoration: none;
      }

      h4 {
        line-height: 12px;
        font-weight: 400;
        font-size: 8px;
      }
    }
  }

  &.buka-intro {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    padding: 10px;

    img {
      width: 120px;
    }

    p {
      font-size: 8px;
    }
  }

  &.collage {
    p {
      position: absolute;
      font-size: 8px;
      font-weight: 400;
      width: 136px;
    }
    #exp-description-lang {
      bottom: 18px;
      left: 16px;
    }
    #exp-description-infra {
      bottom: 28px;
      left: 16px;
    }
    img {
      position: absolute;
    }
    #kube {
      top: 30px;
      width: 126px;
    }
    #terra {
      left: 20px;
      top: 66px;
      width: 56px;
    }
    #azure {
      right: 20px;
      top: 64px;
      width: 58px;
    }
    #gcp {
      transform: scaleX(0.9);
      right: 16px;
      top: 64px;
      width: 64px;
    }
    #mysql {
      top: 20px;
      left: 20px;
      width: 55px;
    }
    #go-text {
      top: 26px;
      right: 20px;
      width: 45px;
    }
    #go-cat {
      top: 24px;
      right: 55px;
      width: 18px;
    }
    #kafka {
      top: 62px;
      right: 22px;
      width: 50px;
    }
    #python {
      width: 56px;
      top: 66px;
      left: 22px;
    }
    #react {
      left: -16px;
      top: 56px;
      width: 140px;
    }
    #scss {
      right: 20px;
      top: 68px;
      width: 45px;
    }
    #mui {
      top: 4px;
      width: 150px;
    }
    img {
      width: 20px;
    }
  }
}
